
.tab {
    margin-left: 40px;
}
footer{
    background-color: steelblue;
    color: white;
    text-align: center
    
}
h1{
    color:steelblue;
    text-shadow: 2px 2px;
}
h{
    font-weight: 400;
}
img{
    float: left;
}
.bod{
    padding-left: 25px;
}
.header1{
    border-bottom: 2px solid steelblue;
    height: 130px;
  background-image: linear-gradient(to top, lightsteelblue, white);
  border-width: medium;
  font-weight: bold;
  
}    
h4{
    right: -15px;
    color : maroon;
    text-decoration: underline;
}
body{
    box-shadow: 0px 10px 10px black;
    border: 1px solid steelblue;
    border-width: thick;
    width: 100%; 
	max-width: 1024px; /* or whatever width you want */ 
    font-family: Arial, sans-serif;
    margin: auto;
}
 